@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 style="text-align: center; margin-top: 50px">Што е Wherenite?</h2>

    <p style="font-size: 22px; text-align: justify; margin-top: 50px; line-height: 2; padding: 30px">
        Wherenite (Where tonight) претставува веб апликација создадена за сите љубители на музика и настани, 
        која овозможува лесно и брзо следење на актуелните концерти и забави на разни локации во Охрид. 
        Моментално се достапни само настани во Охрид, но со мала модификација апликацијата може да се збогати 
        и со други градови. Корисниците можат да ги прегледуваат сите достапни настани и да ги филтрираат 
        според тип на локација, конкретна локација или тип на артист, што овозможува брзо пронаоѓање на настаните. 
        Во делот „Повеќе“ за секој настан, корисниците можат да ги видат информациите за типот на артист, 
        категориите на билети заедно со цените / броевите за резервација, датумот, типот на простор, и локацијата.
        Доколку е додадено, исто така таму можат да видат и некои пример песни од артистите кои настапуваат. 
        За настаните кои дозволуваат директна продажба на билети, корисниците можат да изберат категорија на билет 
        и да го купат преку додавање во кошничка, со можност за плаќање. За други локации каде што нема опција 
        за купување на билети, апликацијата нуди телефонски броеви од соодветната локација за резервирање на места.
        Wherenite го прави следењето на музичките и забавните настани во Охрид едноставно, прегледно и пријатно, 
        со фокус на корисничко искуство и практичност.
    </p>
</main>